/* color scheme
cultured - #F5F5F5
carnation pink - #ffa4cb
sky blue crayola - #07e8ff
golden poppy - #f8c000
sea green crayola - #00ffc1
light steel blue - #a4bfe4
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  overflow-x: hidden;
}
section {
  background-color: #fff;
  /* outline: red 1px solid; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
}
.section-content {
  margin: 1em auto;
  width: 80%;
  text-align: left;
  top: 15%;
}
.bio,
#exp .section-content,
#tech .section-content,
.project-card,
footer .section-content {
  border: 3px solid;
  padding: 0.5em;
  margin-bottom: 25px;
}
h1 {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
}
h2 {
  font-size: 21px;
  font-weight: 200;
}
h3 {
  font-weight: 400;
  margin-top: 0.5em;
}
p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 0.5em;
}
.title {
  font-size: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.5em;
  inline-size: 100%;
}
.subtitle {
  color: #5c5c5c;
}
img {
  max-width: 100%;
  height: auto;
  margin: auto;
}
.nav-menu a,
.hero a,
.contact-item a, 
.logo a, 
.project-links {
  text-decoration: none;
  color: #000;
}
.nav-menu a,
.hero a,
.logo a {
  font-size: 1.5em;
}
.nav-menu li a:hover {
  color: #fff;
}

/* NAV STYLING */
nav {
  position: absolute;
  z-index: 99;
  text-align: center;
}
.nav-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.5s ease-in-out;
}
.nav-header.hide {
  top: -10%;
  transition: top 0.5s ease-in-out;
}
.brand-logo {
  height: 8vh;
  width: auto;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 100;
}
.burger {
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}
.burger i,
.nav-links i {
  font-size: 30px;
}
.nav-links i {
  margin-left: auto;
  padding: 18px 20px;
}
.nav-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: all 0.5s ease-in;
}
.nav-links.active {
  transform: translateX(0%);
  z-index: 7;
}
.nav-menu li {
  list-style-type: none;
  padding: 0.5em;
  font-weight: 300;
}
.nav-menu li:nth-child(1):hover {
  background-color: #ffa4cb;
}
.nav-menu li:nth-child(2):hover {
  background-color: #07e8ff;
}
.nav-menu li:nth-child(3):hover {
  background-color: #f8c000;
}
.nav-menu li:nth-child(4):hover {
  background-color: #00ffc1;
}
.nav-menu li:nth-child(5):hover {
  background-color: #a4bfe4;
}
.scroll-up-btn,
.scroll-down-btn {
  text-decoration: none;
  z-index: 6;
}
.scroll-up-btn {
  color: transparent;
  position: fixed;
  bottom: 5%;
  right: 1%;
}
.scroll-down-btn {
  position: absolute;
  bottom: 5%;
}
.scroll-up-btn.show,
.scroll-down-btn {
  color: #5c5c5c;
  opacity: 0.7;
}
.scroll-down-btn:hover,
.scroll-up-btn:hover {
  color: #000;
}
.scroll-down-btn i {
  animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 12px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* HERO */
#hero {
  position: relative;
  height: 100vh;
}
.hero-text,
.hero-bg-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero-text {
  width: 100%;
}
.hero-bg-img {
  width: 80%;
}

/* ABOUT */
#about .section-content {
  display: flex;
  flex-direction: column;
}
#about .title {
  background-image: url('/assets/title/title-pink.png');
}
.about-img {
  border-radius: 50%;
  margin: 25px auto;
}

.bio {
  box-shadow: -10px 10px #ffa4cb;
}

/* EXPERIENCE */
#exp .title {
  background-image: url('/assets/title/title-blue.png');
}
.ga-logo {
  width: 70%;
  margin-left: -0.5em;
}
#exp .section-content {
  box-shadow: -10px 10px #07e8ff;
}

/* TECH */
#tech .title {
  background-image: url('/assets/title/title-yellow.png');
}
.tech-i-wrapper {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-shadow: -10px 10px #f8c000;
}
.tech-i-wrapper i {
  font-size: 40px;
  margin: 0.2em;
  padding: 0.2em;
}

/* PROJECTS */
#projects .title {
  background-image: url('/assets/title/title-green.png');
}
.project-img {
  width: 100%;
  height: auto;
  display: flex;
}
.project-card {
  padding: 0.5em;
  margin: 1em 0;
  box-shadow: -10px 10px #00ffc1;
}
.project-card-box2 h3 {
  background-image: url('/assets/title/mini-title-green.png');
  background-position: left;
  background-repeat: no-repeat;
  padding: 0 1em;
}
.project-links-wrapper {
  display: flex;
  justify-content: space-between;
}
.project-links-wrapper {
  margin: 1em;
}
.project-links {
  width: 110px;
  text-align: center;
  color: #000;
  border: solid #00ffc1 3px;
  border-radius: 8px;
  padding: 0.5em;
  font-size: 12px;
}
.project-links:hover {
  color: #fff;
  background-color: #00ffc1;
}

/* FOOTER */
footer {
  position: relative;
  margin: auto;
  width: 80%;
  height: 45vh;
}
#contact .title {
  background-image: url('/assets/title/title-powder-blue.png');
}
footer .section-content {
  box-shadow: -10px 10px #a4bfe4;
  margin-bottom: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contact-links {
  display: flex;
  justify-content: space-between;
}
.contact-links i {
  font-size: 40px;
}
.contact-links i:hover {
  color: #a4bfe4;
}

/* PARALLAX */
.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.tint {
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}
#p1 {
  background-image: url('/assets/parallax/pink-fur.png');
}
#p2 {
  background-image: url('/assets/parallax/water.png');
}
#p3 {
  background-image: url('/assets/parallax/yellow-petals.png');
}
#p4 {
  background-image: url('/assets/parallax/brick.png');
}
#p5 {
  background-image: url('/assets/parallax/lavender.png');
  height: 65vh;
}

@media screen and (min-width: 720px) {
  .nav-links.active {
    width: 30%;
    transform: translateX(233%)
  }
  .scroll-up-btn,
  .scroll-down-btn {
    font-size: 2em;
  }
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  .title {
    font-size: 48px;
  }
  .about-img {
  }
  .bio {
    margin-left: 50px;
  }
  .ga-logo {
    width: 40%;
    margin-left: -0.5em;
  }
  #about, 
  #exp,
  #tech {
    position: relative;
  }
  #about .title,
  #exp .title,
  #tech .title {
    position: absolute;
    top: 0;
  }
  .tech-i-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .tech-i-wrapper i {
    font-size: 70px;
  }
  .bio,
  #exp .section-content,
  #tech .section-content,
  .project-card.box2 {
  padding: 1.5em;
  }
  .project-links {
    font-size: 18px;
    width: 150px;
  }
  .project-card {
    margin-bottom: 50px;
  }
  footer .section-content {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {

  .nav-links i, 
  .burger {
    display: none;
  }
  .nav-header.hide {
    top: 0;
  }
  .nav-menu {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-100%);
    width: 80%;
  }
  .nav-links li{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 20%;
    height: 10vh;
    padding: 0;
    align-items: center;
  }
  .nav-links.active {
    width: 100%;
    transform: translateX(100%);
  }
  h1 {
    font-size: 128px;
  }
  h2 {
    font-size: 64px;
  }
  .title {
    font-size: 72px;
  }
  p {
    font-size: 22px;
  }
  #about .section-content {
    flex-direction: row;
  }
  .about-img {
    width: 30%;
    height: auto;
  }
  footer .section-content {
    width: 40%;
  }
  .contact-links {
    margin: 1em;
  }
  .contact-links i {
    font-size: 50px;
  }
}