/* color scheme
cultured - #F5F5F5
carnation pink - #ffa4cb
sky blue crayola - #07e8ff
golden poppy - #f8c000
sea green crayola - #00ffc1
light steel blue - #a4bfe4
*/

/* GENERAL STYLING */
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  background: #F5F5F5;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
/* main {
  overflow-y: scroll;
  scroll-behavior: smooth;
} */
section {
  min-height: 100vh;
  width: 100%;
}
.content-wrapper {
  width: 90%;
  margin: auto;
}
.section-title {
  text-align: left;
  font-size: 2rem;
  margin: 0 40px;
  padding: 20px 0;
}
p {
  text-align: justify;
  line-height: 2;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.nav-menu a,
.hero a,
.contact-item a, 
.logo a {
  text-decoration: none;
  color: #000;
}
.nav-menu a,
.hero a,
.logo a {
  font-size: 1.5em;
}
.nav-menu li a:hover {
  font-weight: 700;
  color: #F5F5F5;
}

/* NAV STYLING */
nav {
  z-index: 99;
}
.nav-header {
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.5s ease-in-out;
}
.nav-header.hide {
  top: -10%;
}
.brand-logo {
  height: 8vh;
  width: auto;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 100;
}
.burger {
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}
.burger i,
.nav-links i {
  font-size: 30px;
}
.nav-links i {
  margin-left: auto;
  padding: 18px 20px;
}
.nav-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #F5F5F5;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: all 0.5s ease-in;
}
.nav-links.active {
  transform: translateX(0%);
  z-index: 3;
}
.nav-menu {
  margin: 0;
  padding: 0;
}
.nav-menu li {
  list-style-type: none;
  padding: 0.5rem;
  font-weight: 400;
}
.nav-menu li:nth-child(1):hover {
  background-color: #ffa4cb;
}
.nav-menu li:nth-child(2):hover {
  background-color: #07e8ff;
}
.nav-menu li:nth-child(3):hover {
  background-color: #f8c000;
}
.nav-menu li:nth-child(4):hover {
  background-color: #00ffc1;
}
.nav-menu li:nth-child(5):hover {
  background-color: #a4bfe4;
}
.scroll-up-btn,
.scroll-down-btn {
  text-decoration: none;
  color: #000;
}
.scroll-up-btn {
  display: hidden;
  color: transparent;
  position: fixed;
  z-index: 99;
  bottom: 5%;
  right: 5%;
}
.scroll-up-btn.show {
  color: #5c5c5c;
  opacity: 0.5;
}
.scroll-down-btn:hover {
  color: #ffa4cb;
}
.scroll-down-btn i {
  animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 12px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* HERO STYLING */
#hero {

  background: #F5F5F5;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero h1 {
  font-size: 3em;
  margin: 0;
}
.hero-text {
  position: relative;
  background-image: url(/assets/bg-visuals.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

/* ABOUT SECTION */
#about {
  background: linear-gradient(-10deg, #F5F5F5 80%, #ffa4cb 80%);
  /* box-sizing: border-box; */
}

#about img {
  border-radius: 50%;
  width: 60%;
}

/* TECHNOLOGIES STYLING */
#tech {
  background: linear-gradient(-10deg, #F5F5F5 80%, #07e8ff 80%);
}
.tech-i-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin: 20px auto;
}
.tech-i-wrapper i {
  margin: 14px;
  font-size: 50px;
  /* animation: flash 2s infinite ease-in-out; */
}
/* @keyframes flash {
  0% {
    transform: tbc(0, 0);
  }
  50% {
    transform: tbc(0, 12px);
  }
  100% {
    transform: tbc(0, 0);
  }
} */

/* EXPERIENCE STYLING */
#exp {
  background: linear-gradient(-10deg, #F5F5F5 80%, #f8c000 80%);
}
.ga-logo {
  height: 50px;
  width: auto;
  margin-top: 50px;
}

/* PROJECT SECTION */
#projects {
  background: linear-gradient(-5deg, #F5F5F5 80%, #00ffc1 80%);
}
.project-card {
  width: 90%;
  margin: auto;
  text-align: left;
}
.project-card h3 {
  width: 80%;
  margin: auto;
}

button {
  width: 60px;
  background-color: #F5F5F5;
  border: #a4bfe4 2px solid;
  border-radius: 2px;
  margin-bottom: 20px;
}
.project-btn-wrapper {
  display: flex;
  justify-content: space-around;
}

button i {
  font-size: 20px;
  margin: 4px;
  color: #a4bfe4
}

/* CONTACT STYLING */
footer {
  background: linear-gradient(-10deg, #F5F5F5 60%, #a4bfe4 60%);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-content {
  display: flex;
  flex-direction: column;
} 
.contact-item {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 40px;
}
.contact-item i {
  margin-right: 12px;
  font-size: 1.5em;
}
.contact-item a:hover {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero-text,
  .scroll-up-btn {
    font-size: 1.7em;
  }
  .section-title {
    font-size: 3em;
  }
  p, h3 {
    font-size: 1.8em;
    line-height: 2;
  }
  .nav-links.active {
    width: 30%;
    transform: translateX(233%)
  }
  
  
  /* .nav-links {
    flex-direction: row;
  }
  .nav-links i, 
  .burger {
    display: none;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
  } */

  .icon-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 30px auto;
  }
  .icon-wrapper i {
    margin: 20px;
    font-size: 100px;
  }
}

@media screen and (min-width: 1024px) {


  .section-title {
    font-size: 4em;
  }
  .contact-content {
    margin: 80px 50px;
  }
  .contact-item {
    font-size: 1.4em;
  }

  nav {
    position: sticky;
    border-bottom: 1px solid #F5F5F5;
  }
  .nav-links i, 
  .burger {
    display: none;
  }
  .nav-header.hide {
    top: 0;
  }
  .nav-menu {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-100%);
    background: #F5F5F5;
    height: 10vh;
    width: 80%;

  }
  .nav-links li{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 20%;
    height: 10vh;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .nav-links.active {
    width: 100%;
    transform: translateX(100%);
  }
}

/* 
section {
  height: 100vh;
}
.contact-item {
  margin: 20px auto;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.contact-item i {
  margin: 0 10px;
}
h1 {
  font-size: 7rem;
}
.projects-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.project-card {
  width: 60%;
  margin: auto;
} */ 